
.site_layout_header {
    background: #fff;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats_card {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.stats_card h3 {
    color: rgba(0,0,0,0.45);
    margin-bottom: 8px;
}

.stats_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant_layout_sider {
    background: #1da57a;
}

.ant_menu {
    color: white;
}

.ant-menu_item:hover {
    background-color: #189c6e;
}

.greeting{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 600px;
}

.greeting img{
    width: 48px;
    height: 42px;
    border-radius: 50%;
    border: none;
}
.logo{
    padding-top: 65px;
}
.logoText{
    color: rgba(0,0,0,0.45);
    margin-bottom: 10px;
}

