.footer{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.imgSection{
    display: flex;
    align-items: center;
    gap: 7px;
}

.firstTextSection{
    gap: -15px;
}

.textSection{
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
}

.p{
    color: green;
}